<!doctype html>
<html>
<head>
    <title>Authenticator</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-user"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/post" class="btn btn-default btn-sm">Create Post</a>
        <a href="/blog" class="btn btn-default btn-sm">Blogs</a>
    </div>

    <% if (typeof message !== 'undefined' && message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <h3> My Posts</h3>
    <div class="row"></div>

        <% if (posts && posts.length > 0){ %>
        <table border=2 width="100%">
            <th>Title</th>
            <th>Created Date</th>
            <th>Modified Date</th>
            <th># of Comments</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        <%   for( var i = 0; i < posts.length; i++) { %>
        <%       var post = posts[i].post; %>
        <%       var blogCount = posts[i].blogcount; %>
            <tr>
                <td><span class="fa"><%= post.title %></span></td>
                <td><span class="fa"><%= post.created%></span></td>
                <td><span class="fa"><%= post.updated %></span></td>
                <td align='center'><span class="fa"><%= blogCount %></span></td>
                <td><a href="/post/<%=post._id%>" class="btn btn-default btn-sm">Edit</a></td>
                <td><a href="/deletepost/<%=post._id%>" class="btn btn-default btn-sm">Delete</a></td>
            </tr>               
        <%   } %>
    </table>
        <% } %>
    </br>
    </br>
    <h3>Feedback</h3>
    <div class="row"></div>

        <% if (blogs && blogs.length > 0){ %>
        <table border=2 width="100%">
            <th>Comment By</th>
            <th>Comment</th>
            <th>Comment Date</th>
            <th>&nbsp;</th>
        <%   for( var i = 0; i < blogs.length; i++) { %>
        <%       var blog = blogs[i]; %>
            <tr>
                <td><span class="fa"><%= blog.username %></span></td>
                <td><span class="fa"><%= blog.comment.slice(0, 140) %></span></td>
                <td><span class="fa"><%= blog.created %></span></td>
                <td><a href="/blog/<%=blog._id%>">Go To Post</a></td>
            </tr>               
        <%   } %>
    </table>
        <% } %>


</div>
</body>
</html>
